<div class="imgs">
    <div class="individual-card hide"><div class="individual-card-img"></div>
    <!-- <img src="public/imgs/library/chicken.jpeg"> -->
        <ul>
            <li>Name: Chicken of the Woods</li>
            <li>Type: Mushroom</li>
            <li class="details"><a href="/<%= log.id %>">Details</a></li>
            <li class="edit"><a href="/edit/<%= log.id %>">Edit</a></li>
        </ul>
    </div>