<ul><li> <i class="fas fa-chevron-down"></i></li>
    <li>Date: <%= log.date.toLocaleDateString() %>
    </li>
    <li><i class="fas fa-grip-lines-vertical"></i></li>
    <li>Location: <%= log.location %>
    </li>
    </ul>