<ul>
    <li> <i class="fas fa-chevron-down"></i></li>
    <li>Date: 4/19/2021 </li>
    <li><i class="fas fa-grip-lines-vertical"></i></li>
    <!-- <li> Species</li> -->
    <li>Location: Ames Nowell State Forest</li>
</ul>