<div class="notebook">
    <div class="nav"><div class="nav-icon"><i class="fas fa-bars"></i></div>
    <ul class="navList">
        <li><a href="/">Home</a></li>
        <li><a href="/library">Library</a></li>
        <li><a href="/library/new">New ID</a></li>
        <li><a href="/help">Help</a></li>
        <li><a href="/about">About</a>
            </li>
        <li><a href="/logout"><span class="logout">Logout</span></a></li>
        </ul>
    </div>