<div class="notebook">
    <div class="nav">
        <div class="nav-icon"><i class="fas fa-bars"></i></div>
        <ul class="navList">
            <li><a href="/">Home</a>
            <li><a href="/about">About</a>
            </li>
            <li><a href="/register">Register</a>
            </li>
            <li><a href="/login">Login</a>
            </li>
        </ul>
    </div>