# express node_modules
/node_modules

# alt version of library
/views/pages/library2.ejs

# env
.env

# maps icons
/public/imgs/maps-icons/marker-test-wide.png
/public/imgs/maps-icons/marker-test2.png

# login/register page
views/pages/login-or-register.ejs