<%- include ('../partials/head') -%>
<%- include ('../partials/navloggedin') -%>
        <h4>Drop a pin to get started</h4>
        <a href="/library/new-form/"><img src="/imgs/location/map.png" class="map"></a>
<%- include ('../partials/footer') -%>