<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Field Notes</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <script src="https://kit.fontawesome.com/6c117c7d34.js" crossorigin="anonymous"></script>
    <script src="/js/scripts.js" defer></script>
    <script src="/js/maps-create.js"></script>
</head>
<body class="primary">
    <%- include ('../partials/navloggedin') -%>
        <div class="more-info-body"><div class="center">
            <h6>Drag the pin to adjust your location, then scroll down to log details!</h6>
            <h6 id="status"></h6>
            <h6 id="status2"></h6>
            <div id="map"></div>
            <h6 class="help-link"><a href="/help"><span class="link-highlight">Help: What do I log?</span></a></h6>
        </div>
            <form action="/library/:id" method="POST" enctype="multipart/form-data">
                <div class="form-line">
                    <label for="lat">Latitude</label>
                    <input type="text" id="lat" name="coords" placeholder="Latitude">
                    </div>
                    <div class="form-line">
                    <label for="lng">Longitude</label>
                    <input type="text" id="lng" name="coords" placeholder="Longitude">
                </div>
                <div class="form-line">
                    <label for="location">Location</label>
                    <input type="text" id="location" name="location"
                        placeholder="The park or area you're exploring!">
                </div>
                <div class="form-line">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" placeholder="What did you find?">
                </div>
                <div class="form-line flex">
                    <label for="type">Type:</label>
                    <div class= "radio">
                    <div><input type="radio" id="mushroom" name="classification" value="Mushroom"><label
                        for="mushroom">Mushroom</label></div>
                        <div><input type="radio" id="plant" name="classification" value="Plant"><label for="plant">Plant</label>
                    </div>
                        <div><input type="radio" id="flower" name="classification" value="Flower"><label for="flower">Flower</label></div>
                        <div><input type="radio" id="tree" name="classification" value="Tree"><label for="tree">Tree</label></div>
                        </div></div>
                <div class="form-line">
                    <label for="notes">Notes</label>
                    <textarea name="notes" placeholder="Tell us more about your cool find!"></textarea>
                </div>
                <div class="form-line">
                    <label for="photo">Photo</label>
                    <input type="file" id="userPhoto" class="userPhoto" name="img1" required>
                    </div>
                    <!-- <input type="file" id="userPhoto" class="userPhoto" name="img2">
                </div>
                <div class="form-line">
                    <label for="photo">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input type="file" id="userPhoto" class="userPhoto" name="img3">
                    <input type="file" id="userPhoto" class="userPhoto" name="img4">
                </div> -->
                <button>Submit</button></a>
            </form>
        </div>
        </div>
        <script src="<%= mapsAPI %>" async></script>
</body>
</html>