<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Field Notes</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <script src="https://kit.fontawesome.com/6c117c7d34.js" crossorigin="anonymous"></script>
    <script src="/js/scripts.js" defer></script>
    <script src="/js/maps.js" defer></script>
</head>
<body>
<%- include ('../partials/navloggedin') -%>
        <h4>Drop a pin to get started</h4>
        <div id="map"></div>
<script src="<%= mapsAPI %>" async ></script>
</body>
</html>

