<%- include ('../partials/head') -%>
<%- include ('../partials/navloggedin') -%>
        <div class="dashboard">
            <a href="/library/new"><button>New identification session</button></a>
            <a href="/library"><button>Library: Previous identification sessions</button></a>
        </div>
<%- include ('../partials/footer') -%>