<%- include ('../partials/head') -%>
<%- include ('../partials/navloggedin') -%>
<div class="container-width-90">       
<h3 class="center underline">Help</h3>
        <p class="center">Below are some infographics to help you get started with how to take pictures and log important information about your findings!</p>
        <p class="center">For even more information, please check out the <a href="/resources"><span class="link-highlight">resources</span></a> tab for videos and readings to further your knowledge!</p>
        <div class="text-center help-links">
        <a href="/imgs/help/mushrooms.jpeg">Mushrooms</a>
        <a href="/imgs/help/plants.png">Plants</a>
        <a href="/imgs/help/trees.png">Trees</a>
        </div>
</div> 
<%- include ('../partials/footer') -%>