<%- include ('../partials/head'), -%>
<% if (user) { %>
<%- include ('../partials/navloggedin') -%>
<% } else { %>
<%- include ('../partials/navpublic') -%>
<% } %>
<div class= "main">
    <h5 class="center">FORAGER <br>FIELD NOTES</h5>
    <% if (!user) { %>
                <p class="center">Are you interested in foraging and finding edible plants?</p><span class="join"><p>Join Field Notes and:</p></span>
                    <h5 class="center">
                        <a href="/register">Start logging!</a></h5>
                        <% } %>
                        <ul class="center"><li class="theme has-dropdown">Pick Your Theme
                        </ul>
                            <ul class="dropdown hide">
                                <li class="dropdown-item">
                                    <a id="primary" href="#theme">Primary</a>
                                </li>
                                <li class="dropdown-item">
                                    <a id="dark" href="#theme">Dark</a>
                                </li>
                                <li class="dropdown-item">
                                    <a id="nature" href="#theme">Green Machine</a>
                                </li>
                                <li class="dropdown-item">
                                    <a id="mushroom" href="#theme">Camping</a>
                                </li>
                        </li></ul>
        </div>
    </div>
        
</body>
</html>