<%- include ('../partials/head'), -%>
<% if (user) { %>
<%- include ('../partials/navloggedin') -%>
<% } else { %>
<%- include ('../partials/navpublic') -%>
<% } %>
<div class= "main">
    <h3 class="center">FORAGER FIELD NOTES</h3>
    <% if (!user) { %>
                <p class="center">Are you interested in foraging and finding edible plants? <p style="text-align: center;">Want to digitally track your natural surroundings in a personalized space?</p><span class="join"><p>Join Field Notes and:</p></span>
                    <h4 class="index-desktop-h5 center">
                        <a href="/register">Start logging!</a></h3>
                        <% } %>
                        <p class="center">Make this space yours: </p>
                        <ul><li class="theme has-dropdown">Pick Your Theme
                        </ul>
                            <ul class="dropdown hide">
                                <li class="dropdown-item">
                                    <a id="primary" href="#theme">Primary</a>
                                </li>
                                <li class="dropdown-item">
                                    <a id="dark" href="#theme">Dark</a>
                                </li>
                                <li class="dropdown-item">
                                    <a id="nature" href="#theme">Green Machine</a>
                                </li>
                                <li class="dropdown-item">
                                    <a id="mushroom" href="#theme">Camping</a>
                                </li>
                        </li></ul>
        </div>
    </div>
        
</body>
</html>