<%- include ('../partials/head'), -%>
<% if (user) { %>
<%- include ('../partials/navloggedin') -%>
<% } else { %>
<%- include ('../partials/navpublic') -%>
<% } %>
<div class= "main">
    <h2>FIELD NOTES</h2>
    <% if (!user) { %>
                <p style="text-align: center">Are you interested in foraging and finding edible plants? <p style="text-align: center; margin-bottom: 1.5em">Want to digitally track your natural surroundings in a personalized space?</p><p class="join">Join Field Notes and:</p>
                    <h3 class="index-desktop-h5">
                        <a href="/register" class="register">Start logging!</a></h3>
                        <% } %>
                        <p style="text-align: center; margin: 0.3 em auto">Make this space yours: </p>
                        <ul><li class="theme has-dropdown">Pick Your Theme
                        </ul>
                            <ul class="dropdown hide">
                                <div class="theme-switches"></div>
                                <li class="dropdown-item dropdown-item-before-1">
                                    <div data-theme="primary" class="switch" id="switch-1">
                                        <a id="primary" href="#" value="primary">Primary</a>
                                    </div>
                                </li>
                                <li class="dropdown-item dropdown-item-before-2">
                                    <div data-theme="dark" class="switch" id="switch-2">
                                        <a id="dark" href="#" value="dark">Dark</a>
                                    </div>
                                </li>
                                <li class="dropdown-item dropdown-item-before-3">
                                    <div data-theme="nature" class="switch" id="switch-3">
                                        <a id="nature" href="#" value="nature">Green Machine</a>
                                    </div>
                                </li>
                                <li class="dropdown-item dropdown-item-before-4">
                                    <div data-theme="camping" class="switch" id="switch-4">
                                        <a id="mushroom" href="#" value="camping">Camping</a>
                                    </div>
                                </li>
                            </div>
                        </li></ul>
            <div class="right-arrow">
            </div>
        </div>
        </div>
        <!-- <script>
        let hasDropdown = document.querySelector(".has-dropdown");
        let dropdown = document.querySelector(".dropdown");
        
        hasDropdown.addEventListener("click", () => {
        dropdown.classList.toggle("show");
        })
        </script>
        <script>
            const primaryButton = document.getElementById('primary');
            const darkButton = document.getElementById('dark');
            const natureButton = document.getElementById('nature');
            const mushroomButton = document.getElementById('mushroom');
            const body = document.body;

            const theme = localStorage.getItem('theme');
            if (theme) {
                body.classList.add(theme)
            }

            
            primaryButton.addEventListener("click", () => {
                if (body.classList === 'dark' || body.classList ==='nature' || body.classList === 'mushroom') {
                    body.classList.remove("dark", "")
                    body.classList.add('primary')
                    localStorage.setItem('theme', 'primary')
                }
})
            darkButton.addEventListener("click", () => {
                if (body.classList == 'primary' || body.classList =='nature' || body.classList == 'mushroom') {
                    body.classList.remove("primary", "nature", "mushroom")
                    body.classList.add('dark')
                    localStorage.setItem('theme', 'dark')
                } 
            })
                
            natureButton.addEventListener("click", () => {
                if (body.classList == 'dark' || body.classList =='primary' || body.classList == 'mushroom') {
                    body.classList === ""
                    body.classList.add('nature')
                    localStorage.setItem('theme', 'nature')
                }
})
            mushroomButton.addEventListener("click", () => {
                if (body.classList == 'dark' || body.classList =='nature' || body.classList == 'primary') {
                    body.classList === ""
                    body.classList.add('mushroom')
                    localStorage.setItem('theme', 'mushroom')
                } 
})

        </script> -->
</body>
</html>