<%- include ('../partials/head') -%>
<%- include ('../partials/navpublic') -%>
                <div class= "main">
                <h2>FIELD NOTES</h2>
                <!-- change text to "click right" when in desktop mode -->
                <h5 class="index-mobile-h5">
                    <a href="/login_register">Swipe left to start logging!</h5></a>
                    <h5 class="index-desktop-h5">
                        <a href="/login_register">Start logging!</a></h5>
                        <!-- want to add hover over arrow like turning page of a book  -->
                        <ul><li class="theme">Pick Your Theme</li></ul>
            <div class="right-arrow">
            </div>
        </div>
<%- include ('../partials/footer') -%>