<%- include ('../partials/head') -%>
<%- include ('../partials/navloggedin') -%>
        <div class="library-sort">
            <h6>Filter:</h6>
            <select id="sort" name="sort">
                <option value="date">Date</option>
                <option value="type">Type</option>
                <option value="location">Location</option>
                </optgroup>
            </select>
            <select id="subSort" name="subSort">
                <option value="season">Season</option>
                <option value="season">Spring</option>
                <option value="date">Summer</option>
                <option value="type">Fall</option>
                <option value="location">Winter</option>
            </select>
            <div class="showAll"><input type="checkbox" id=showall name=showall><label for="showall">Show all</label>
            </div>
        </div>
        <div class="library-container">
            <div class="observations">
                <ul>
                    <li> <i class="fas fa-chevron-down"></i></li>
                    <li>Date: 4/19/2021 </li>
                    <li><i class="fas fa-grip-lines-vertical"></i></li>
                    <!-- <li> Species</li> -->
                    <li>Location: Ames Nowell State Forest</li>
                </ul>
                <div class="imgs">
                    <div class="individual-card hide"><div class="individual-card-img"></div>
                    <!-- <img src="public/imgs/library/chicken.jpeg"> -->
                        <ul>
                            <li>Name: Chicken of the Woods</li>
                            <li>Type: Mushroom</li>
                            <li class="details"><a href="library/details">Details</a></li>
                            <li class="edit"><a href="/library/update">Edit</a></li>
                        </ul>
                    </div>
                    <div class="individual-card hide"><img src="/imgs/library/crocus.jpg">
                        <ul>
                            <li>Name: Crocus</li>
                            <li>Type: Flower</li>
                            <li class="details"><a href="edit.html">Details</a></li>
                            <li class="edit"><a href="edit.html">Edit</a></li>
                        </ul>
                    </div>
                    <img src="public/imgs/library/eveningprimrose.jpg" class="hide">
                    <img src="public/imgs/library/lesserceladine.jpg" class="hide">
                    <img src="public/imgs/library/ramps.jpg" class="hide">
                    <img src="public/imgs/library/reddeadnettle.jpg" class="hide">
                    <img src="public/imgs/library/reishi.jpg" class="hide">
                    <img src="public/imgs/library/turkeytail.jpg" class="hide">
                </div>
                <ul>
                    <li> <i class="fas fa-chevron-down"></i></li>
                    <li>Date: 4/19/2021 </li>
                    <li><i class="fas fa-grip-lines-vertical"></i></li>
                    <!-- <li> Species</li> -->
                    <li>Location: Ames Nowell State Forest</li>
                </ul>
            </div>
            <!-- <div class="hide card-desc">
                <ul>
                    <li>Date: 4/19/2021 </li>
                    <li>Location: Ames Nowell</li>
                    <li>Species: Chicken of the Woods</li>
                </ul>
            </div>
            <img src="public/imgs/library/eveningprimrose.jpg" class="hide"><div class="hide card-desc">
                <ul>
                    <li>Date: 4/19/2021 </li>
                    <li>Location: Ames Nowell</li>
                    <li>Species: Chicken of the Woods</li>
                </ul>
            </div>
            <img src="public/imgs/library/lesserceladine.jpg" class="hide"><div class="hide card-desc">
                <ul>
                    <li>Date: 4/19/2021 </li>
                    <li>Location: Ames Nowell</li>
                    <li>Species: Chicken of the Woods</li>
                </ul>
            </div>
            <img src="public/imgs/library/ramps.jpg" class="hide"><div class="hide card-desc">
                <ul>
                    <li>Date: 4/19/2021 </li>
                    <li>Location: Ames Nowell</li>
                    <li>Species: Chicken of the Woods</li>
                </ul>
            </div>
            <img src="public/imgs/library/reddeadnettle.jpg" class="hide"><div class="hide card-desc">
                <ul>
                    <li>Date: 4/19/2021 </li>
                    <li>Location: Ames Nowell</li>
                    <li>Species: Chicken of the Woods</li>
                </ul>
            </div>
            <img src="public/imgs/library/reishi.jpg" class="hide"><div class="hide card-desc">
                <ul>
                    <li>Date: 4/19/2021 </li>
                    <li>Location: Ames Nowell</li>
                    <li>Species: Chicken of the Woods</li>
                </ul>
            </div>
            <img src="public/imgs/library/turkeytail.jpg" class="hide"><div class="hide card-desc">
                <ul>
                    <li>Date: 4/19/2021 </li>
                    <li>Location: Ames Nowell</li>
                    <li>Species: Chicken of the Woods</li>
                </ul>
            </div> -->
        </div>
    </div>
    <script>
                let img = document.querySelectorAll(".individual-card");
        let carrot = document.querySelector(".fa-chevron-down")

        
        const showHide = function(e) {
            for (let i = 0; i < img.length; i++)
            img[i].classList.toggle("show")
            e.stopPropagation()
        }
        
        carrot.addEventListener("click", showHide);
    </script>
</body>

</html>