<%- include ('../partials/head') -%>
<%- include ('../partials/navpublic') -%>
<div class="login-or-register"><ul><a href="/login"><li class="theme-button">Login</li></a></ul>
<ul><a href="/register"><li class="theme-button">Register</li></a></ul></div>
<%- include ('../partials/footer') -%>