<%- include ('../partials/head') -%>
<%- include ('../partials/navpublic') -%>
  <div class="login-form">
    <form><label for="username">Username</label>
      <input type="text" id="username" name="username">
      <label for="password">Password</label>
      <input type="password" id="password" name="password">
    </form>
    <a href="/dashboard"><button class="login">Login</button></a>
<%- include ('../partials/footer') -%>