<%- include ('../partials/head') -%>
<%- include ('../partials/navpublic') -%>
<h3 class="underline center">Login</h3>
  <div class="login-form">
    <form action="/login" method="POST"><label for="username">Username</label>
      <input type="text" id="username" name="username">
      <label for="password">Password</label>
      <input type="password" id="password" name="password">
      <p class="center">New to the site? &nbsp<a href="/register">Register here!</a></p>
      <button class="login">Login</button>
    </form>
<%- include ('../partials/footer') -%>