<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Field Notes</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <script src="https://kit.fontawesome.com/6c117c7d34.js" crossorigin="anonymous"></script>
    <script src="/js/scripts.js" defer></script>
</head>
<body>
<%- include ('../partials/navloggedin') -%>
<div class="library-sort"><h6>Filter:</h6>
<select id="subSort" name="subSort">
    <option value="season">Season</option>
    <option value="spring">Spring</option>
    <option value="summer">Summer</option>
    <option value="fall">Fall</option>
    <option value="winter">Winter</option>
</select>
</div>
        <div id="map2"></div>
<script src="<%= mapsAPI %>" async ></script>
</body>
</html>