<%- include ('../partials/head') -%>
<%- include ('../partials/navpublic') -%>
  <div class="login-form">
    <form><label for="username">Email</label>
      <input type="text" id="username" name="username">
      <label for="password">Password</label>
      <input type="password" id="password" name="password">
    </form>
    <a href="/library/new-form"><button class="login">Submit</button></a>
<%- include ('../partials/footer') -%>