<%- include ('../partials/head') -%>
<%- include ('../partials/navpublic') -%>
<h3 class="underline center">Register</h3>
  <div class="login-form">
    <form action="/register" method="POST"><label for="username">Username</label>
      <input type="text" id="username" name="username">
      <label for="password">Password</label>
      <input type="password" id="password" name="password">
      <p class="center">Already registered?<br><a href="/login">Login here!</a></p>
      <button class="login">Submit</button>
    </form>
<%- include ('../partials/footer') -%>