:root {
font-size: 2.5rem;
--secondary-font-family: 'Nunito', sans-serif;
--light-amber: rgb(253, 221, 161);
/**********************/
--primary-background-color: rgb(228, 148, 0);
--primary-nav-link-hover-color: rgb(209, 66, 248);
--primary-nav-background:  rgb(25, 51, 199);
--primary-button-yellow: rgb(246, 254, 140);
--primary-notebook-bg: rgb(189, 163, 134);
--primary-font-color: black;
--primary-link-color: white;
--primary-delete-link-color: red;
/**********************/
--secondary-background-color: rgb(126, 207, 75);
--secondary-icon-color:black;
--secondary-link-color:black;
--secondary-nav-background: red;
/**********************/
--gray0: #f8f8f8;
--gray1: #dbe1e8;
--gray2: #b2becd;
--gray3: #6c7983;
--gray4: #454e56;
--gray5: #2a2e35;
--gray6: #12181b;
/**********************/
--blue: #0084a5;
--purple: #a82dd1;
--yellow: #fff565;
/**********************/
--nature1: #a1cca5ff;
--nature2: #8fb996ff;
--nature3: #709775ff;
--nature4: #415d43ff;
--nature5: #111d13ff;
/******* woods and blues *******/
--indigo-dye: #2b4162ff;
--deep-space-sparkle: #385f71ff;
--magnolia: #f5f0f6ff;
--burlywood: #d7b377ff;
--french-bistre: #8f754fff;
/***** saturated primaries *********/
--international-orange-golden-gate-bridge: #c03221ff;
--indian-yellow: rgb(227, 151, 37);
--hunter-green: #495f41ff;
--white: #ffffffff;
--indigo-dye: #0c4767ff;
--black: #000000;
}

.primary {
    --bg-logout: var(--primary-background-color);
    --bg-notebook: var(--primary-notebook-bg);
    --bg-theme-button: var(--primary-button-yellow);
    --bg-nav: var(--primary-nav-background);
    --bg-dropdown: var(--primary-nav-background);
    --text: var(--primary-font-color);
    --link: var(--primary-link-color);
    --link-hover: var(--primary-nav-link-hover-color);
    --edit-link-color: var(--primary-edit-link-color);
    --details-link-color: var(--primary-font-color);
    --library-card-bg: var(--primary-nav-link-hover-color);
    --link-highlight-color: var(--white);
    --details-li: var(--white);
    --resources-links: var(--black);
}

.light {
    --bg-logout: var(--gray3);
    --bg-notebook: var(--gray2);
    --bg-theme-button: var(--gray1);
    --bg-nav: var(--gray1);
    --bg-dropdown: var(--gray0);
    --text: var(--gray6);
    --link: var(--gray6);
    --link-hover: var(--gray4);
    --border-color: var(--blue);
    --join-link: var(--primary-nav-background);
    --details-li: var(--gray2)
}

.dark {
    --bg-logout: var(--gray4);
    --bg-nav: var(--gray5);
    --bg-theme-button: var(--gray3);
    --bg-notebook: var(--gray6);
    --bg-dropdown: var(--gray5);
    --text: var(--gray0);
    --link: var(--gray2);
    --link-hover: var(--gray3);
    --join-link: var(--indian-yellow);
    --library-card-bg: var(--gray3);
    --link-highlight-color: var(--light-amber);
    --details-li: var(--gray2);
    --resources-links: var(--white)
}

.nature {
    --bg-logout: var(--nature3);
    --bg-nav: var(--nature4);
    --bg-notebook: var(--nature5);
    --bg-dropdown: var(--nature4);
    --bg-theme-button: var(--french-bistre);
    --text: var(--white);
    --link: var(--nature1);
    --link-hover: var(--nature3);
    --join-link: var(--burlywood);
    --library-card-bg: var(--french-bistre);
    --link-highlight-color: var(--light-amber);
    --details-li: var(--gray2);
    --resources-links: var(--white)
}

.mushroom {
    --bg-logout: var(--international-orange-golden-gate-bridge);
    --bg-nav: var(--hunter-green);
    --bg-notebook: var(--indigo-dye);
    --bg-theme-button: var(--indian-yellow);
    --bg-dropdown: var(--international-orange-golden-gate-bridge);
    --text: var(--white);
    --link: var(--white);
    --link-hover: var(--indian-yellow);
    --join-link: var(--burlywood);
    --library-card-bg: var(--french-bistre);
    --link-highlight-color: var(--light-amber);
    --details-li: var(--gray2);
    --resources-links: var(--indian-yellow)
}

@font-face {
    font-family: "nunito";
    src: url(../fonts/Nunito_Sans/NunitoSans-ExtraBold.ttf);
}

* {
    padding:0;
}

body {
    transition: color 300ms ease-in-out;
    padding-top: 0.1em;
    background-color: var(--bg-logout);
    font-family: var(--secondary-font-family);
    color: var(--text);
    height: 90vh;
}

h2, h3, h4,h5, h6 {
    margin: 0;
    padding: 0;
}

i {
    color: var(--link-hover);
    padding: 0.4em;
    display: block;
}

button {
    font-family: "nunito";
    font-size: 0.6rem;
    display: flex;
    justify-content: center;
    margin: 0 auto; 
    width:100px;
}

.individual-card button {
    font-size: .45rem;
    display: flex;
    padding: 0.3rem 0;
}

a {
    text-decoration: none;
    
}

a:link, a:visited {
color: var(--link)
}

a:hover {
    color:var(--link-hover);
}

button.delete {
    color: var(--primary-delete-link-color);
}

li.edit a {
    padding: 0;
    margin: 0;
    font-size: .45rem;
    color: var(--primary-nav-background);
}
li.details a {
    color: rgb(253, 221, 161);
    text-decoration: underline;
}

.individual-card a {
    color: var(--text);
}

ul {
    margin:0;
    padding:0;
}

li {
    padding:0;
    font-size: .45rem;
    list-style: none;
}

p {
    font-size: .55rem;

}

.flex {
    display: flex;

}

.wrap {
    flex-wrap: wrap;
}
.underline {
    text-decoration: underline;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.flex-right {
    margin-left: auto; 
}

.link-highlight {
    color: var(--link-highlight-color)
}

.blue {
    color: blue;
}
.text-gray2 {
    color: var(--gray2)
}
.details-li {
    color: var(--details-li)
}

.text-gray4 {
    color: var(--gray1)
}
.hide {
    display: none;
}

.show {
    display: block;
}

.notebook {
    flex-direction: column;
    overflow-x: scroll;
    background-color: var(--bg-notebook);
    height: 90vh;
    max-width: 768px;
    margin: 0 auto;
    border: 2px black solid;
    border-bottom-right-radius: 60px;
    border-top-right-radius: 60px;
    box-shadow: 2px -5px black;
    box-sizing: border-box;
    /* theme 2 background */
    /* background-image: url('../imgs/backgrounds/amanita3.png'); */
}

.nav {
    z-index: 3;
    position: sticky;
    top:0;
    padding: .3em 0;
    background-color: var(--bg-nav);
    border-top-right-radius: 57px;
    border-bottom: 5px white solid;

}

.nav ul {
    margin-left: 0.5em;
    width:70%;
    justify-content: space-evenly;
}
.nav li {
    padding: 0.3em 0;
    font-size: 0.65em;
    align-self: center;
    color: var(--text);
}

.nav-no-bottom-margin {
    margin-bottom: 0;
}

.navList {
    display:none;
}

.main h3 {
    font-size: .8rem;
}

ul li.theme {
    margin: 0.6em auto;
    margin-bottom: 0em;
    text-align: center;
    width: 275px;
    font-size: .5em;
    padding: .2em;
    box-sizing: border-box;
    border: 2px black solid;
    color:(--text);
    background-color:var(--bg-theme-button)
}

.dropdown {
    width: 275px;
    padding: .2em;
    box-sizing: border-box;
    background:var(--bg-dropdown);
    color: black;
    margin: 0 auto;
    /* opacity: 0; */
    box-shadow: rgb(2, 8, 20, 0.1) 0px 0.175em 0.5em;
    
}
.dropdown-item {
    padding: 0.1em;
    width:100%;
}

.dropdown-item a {
    width:100%;
    height: 100%;
    size: 0.7rem;
    padding-left: 10px;
    font-weight: bold;
}
.dropdown-item a::before {
    content: '';
    display: inline-block;
    border: 2px solid var(--text);
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 0.3rem;
    height: 0.3rem;
    margin-right: 0.5em
}

a#primary::before{
    background-color: var(--primary-notebook-bg);
}
a#dark::before{
    background-color: var(--gray5);
}
a#nature::before{
    background-color: var(--nature2);
}
a#mushroom::before{
    background-color: var(--international-orange-golden-gate-bridge);
}

.dropdown-item a:hover::before {
    transform: scale(1.4);
    transition: 0.3s ease-in-out;
  }

  span.join p {
    text-align: center;
    font-size: 0.7em; 
    color: var(--join-link); 
    margin-bottom: 0em;
}

a.register {
    font-size: 1rem;
}

ul li.theme-button {
    margin: 0em auto;
    margin-bottom: 0.6em;
    text-align: center;
    width: 45%;
    font-size: .8em;
    padding: .2em;
    border: 2px black solid;
    color:black;
    background-color:var(--bg-theme-button)
}

.notebook h1, h5 {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
.resources h5 {
    color: var(--resources-links);
    text-align: left;
}

.notebook .resources {
    padding: .3em .5em;
}

ul.resources h4 {
    text-align: left;
}
ul.resources {
    width: 100%;
    text-align: left;
}

.resources li {
    text-align: left;
    font-size: .6em;
    margin-bottom: .5em;
}

.books img {
    width:auto;
    height: 200px;
    display: none;
}

.main button {
    padding: 0.5em 0;
    margin-bottom: 1.5em;
}

.notebook p {
    width: 100%;
    margin: .5em auto;
    font-size: .5em;
}

.login-form {
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    padding: 0em;
    font-size: smaller;
}

.login-form input {
    padding: 0.5em 0;
    width: 100%;
    margin-bottom: 1.5em;
}

.login-form input:nth-child(4){
    margin-bottom: 0em;
}

.dashboard {
    padding-top: 0.3em;
}
.dashboard button {
    font-size: 0.7rem;
    margin: .5em auto;
    width: 87%;
    padding: 0.2em;
    background-color: var(--bg-theme-button);
}
.form-flex {
    display: flex;
    flex-direction: column;
}

.more-info-body h6 {
margin: 0.7em 0;
}

.more-info-body form {
    margin: 0.3em;
}

.more-info-body .form-line {
    margin: 0 auto;
    max-width: 400px;
    display: flex;
    margin-bottom: 0.4em;
}

.more-info-body label {
    font-size: .55em;
    width: 33%;

}

.more-info-body input {
    flex:2;
    padding: 0.5em;
}

.more-info-body textarea {
    height: 75px;
    flex:2;
}

input#userPhoto {
    margin-top: 10px;
    height: 20px;
}

div.library-sort {
    z-index: 2;
    width:100%;
    position: sticky;
    top:100px;
    background-color: var(--bg-nav);
    display: flex;
    color:white;
    align-items: flex-start;
    padding-bottom: 0.2em;
}

.library-sort select {
    padding: 0 1em;
}
.library-sort select, h6 {
    margin: 0.6em 0.4em;
}

.library-sort h6:last-child {
    padding-left: 0.8em;
}

.library-sort label {
    align-self: center;
    font-size: 0.4em;
}

.library-sort > div {
    max-width:450px;
}
.imgs {
    margin: 0em 0.3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.individual-card {
    margin: 1em;
    width: 280px;
    min-width: 280px;
    border: 1px solid black;
    text-align: center;
    background-color: var(--library-card-bg);
}

.individual-card-img {
    width:100%;
    height: 350px;
    background-size: cover;
}

.individual-card ul {
    height:250px;
    padding: 0.2em;
    margin: 0.15em 0em;
}

.individual-card li {
    font-size: 0.7em;
    color: black;
    margin: 0.3em;
}

.individual-card-button-container {
display: flex;
align-items: center;
margin: 0 auto;
justify-content: center;
}

#map {
    z-index: 1;
    margin: 0 auto;
    width:90%;
    height: 500px;
    margin-bottom: 0.3em;
}
#map2 {
    z-index: 1;
    margin: 0em auto;
    margin-top: 0.5em;
    width:90%;
    height: 65%;
}

.infowindow {
    color: black
}

.help-links {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    display:flex;
    flex-direction: column;
}

.help-links a {
    padding: 0.1em;
}

ul.details-page > * {
    margin: 0 auto;
    text-align: center;
    width:80%;
}

.details-img-container {
    width:35%;
    min-width: 215px;
    margin: 0 auto;
}
.log-details-img {
    width:100%;
    margin: 0 auto;
    margin-top: 0.5em;
}

.details-button {
    color: red;
    display:flex;
    justify-content: center;
}
.details-button button{
    color: red;
    margin:.5em.3em;
    padding:0;
}
.details-button button a{
    color: var(--primary-nav-background);
}

.logout {
    color: var(--bg_logout);
}

.logout a:hover {
    color: var(--link-hover)
}

.about-container p {
    margin-bottom: 1.4em;
    font-size: .4em;
    width:90%;
}
.about-container h6 {
    margin-bottom: 0em;
}

.container-width-90 {
    width: 90%;
    margin: 0 auto;
}
.container-width-90 p{
    width: 100%;
    margin-bottom: 1.3em;
}

.library-else  *{
    margin: 0.5em auto;
}

.library-button {
    width:200px;
}

/* desktop */
@media screen and (min-width: 1024px) {
    .nav-icon {
        display: none;
    }
      
    .nav {
        display: flex;
    }
    
    .nav ul {
        margin: 0 0.3em;
        padding: 0.4em 0;
        width:100%;
        display: flex;
        justify-content: space-between;
        
    }
    .nav li {
        display: block;
        font-size:0.6em;
        align-self: center;
        color: white;
    }

    .resources li {
        font-size: .7em;
    }
    .video-book-container {
        width: 90%;
        display: flex;
        justify-content: space-between;
    }
    
    .books {
        display: flex;
    }
    
    .books img {
        width:auto;
        height: 190px;
        display: block;
        margin: .5em;
    }

    .book-text {
        display: none;
    }
    .form-flex {
        display: flex;
        flex-direction: row;
    }
    div.library-sort {
        top:108px;
}
ul.nav-smaller-width {
    margin: 0 2.5em;
}
.main h3 {
    font-size: 60px;
}
.more-info-body label {
    font-size: .7em;
    margin-right: .3em;
    
}
ul.details-page > * {
    width:40%;
}
.about-container p {
    font-size: 22px;
}
.notebook p {
    width: 90%;
    margin: .7em auto;
    font-size: 24px;
}

}
/*tablet*/
@media screen and (min-width:768px) {
    .form-flex {
        display: flex;
        flex-direction: row;
    }
    .library-sort form {
        display: flex;
        margin: 0.4em 0;
        }
        .library-sort form button{
        margin-left: 0.4em;
        }
        #map {
            width:80%
        }
        #map2 {
            margin-top: 0.5em;
            width:90%;
            height: 70%;
        }
        .main h3 {
            font-size: 60px;
        }
        ul.details-page > * {
            width:50%;
        }
        .about-container p {
            font-size: 22px;
        }
        .notebook p {
            width: 90%;
            margin: .7em auto;
            font-size: 25px;
        }
        
    }
/*mobile text sizes*/
@media screen and (min-width: 480px) {
    .observations ul{
        font-size: 1.5rem;
    }
    /* .more-info-body label {
        font-size: .7em;
        margin-right: .3em;
        
    } */
}






